body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #201b2d;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}



/* SECTION */
.section {
  padding: 100px 0;
}

.form_section {
  background-color: #ecf3f8;
}

.container {
  width: 100%;
  max-width: 1200px;



  margin: 0 auto;
}



/* HEADER */
.header {
  background-color: #e43b7c;

  height: 100vh;
  width: 100%;
}

.header_container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 60px 15px;
}

.logo {
  width: 100px;
  
  transition: 0.2s ease;
}
.logo img {
  width: 100%;

  display: block;

}
.logo:hover {
  opacity: 0.8;
}

.header_content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer:first-child {
  width: 48%;
}

.offer_title {
  font-size: 37px;
  color: #fff;
  font-weight: 700;

  margin-bottom: 30px;
}
.offer_title span {
  font-size: 59px;
}

.offer_text {
  width: 370px;

  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 30px;
}

.offer_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 222px;
  height: 56px;

  font-weight: 700;
  color: #2e2a1b;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;

  transition: 0.2s ease;
  background-color: #ffd429;
}
.offer_btn:hover {
  background-color: #c9a720;
}

.offer_img {
  width: 48%;
}
.offer_img img {
  width: 100%;
}




/* FUTURE_SECTION */
.future_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.future_title {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 70px;
}

.future_content {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.future_items {
  width: 285px;

  text-align: center;
}

.future_img {
  margin-bottom: 15px;
}

.future_subtitle {
  font-size: 19px;
  font-weight: 700;

  margin-bottom: 15px;
}

.future_text {
}




/* FORM_SECTION */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 343px;
  
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 48px;

  border: 1px solid #bbbbbb;
  margin-bottom: 15px;
  padding-left: 25px;
}
.form input:focus {
  outline: none;
}


.form_btn {
  width: 100%;
  height: 56px;

  display: block;

  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  background-color: #ffd429;
}
.form_btn:hover {
  background-color: #c9a720;
}




/* FOOTER */
.footer {
  display: flex;
  justify-content: center;

  padding: 100px 0;
  background-color: #164d7a;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
}